* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.page-container {
    max-width: 1000px;
    margin: 0 auto;
}

.btn {
    border: none;
    padding: 10px 40px;
    border-radius: 50px;
}

.tw {
    color: white;
}

/* ---------- /UTILITIES ---------- */

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #0084fd;
}

nav .nav-left #logo {
    padding: 10px 20px;
}

nav .nav-left #logo img {
    width: 80%;
}

nav .nav-right #hamburger-icon {
    padding: 10px 20px;
}

nav .nav-right #hamburger-icon i {
    font-size: 1.6em;
    color: white;
}

/* ---------- /NAV-BAR ---------- */

.first-section {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.first-section .col {
    padding: 30px 20px 0 20px;
    border-radius: 20px;
    background-color: #b5ddff;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.first-section .col>* {
    padding-bottom: 25px;
}

.first-section .col h2 {
    color: #2294fd;
}

.first-section .col-special {
    text-align: left;
}

.first-section .col-special .text-section h2,
p {
    padding-bottom: 25px;
}

.first-section .col-special .app-store a .store-button {
    background-color: #0084fd;
    font-size: .7em;
    color: white;
}

.first-section .col-special .store-image {
    padding-bottom: 0;
}

.first-section .col-special .store-image img {
    width: 100%;
    display: block;
}

.first-section .col .fa-solid {
    font-size: 5em;
    color: #0084fd
}

/* First Section End */

.second-section {
    width: 100%;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    background-color: #9792e4;
}

.second-section .col-1>* {
    padding-bottom: 25px;
}

.second-section .col-1 .planning-text-1 h2,
p {
    padding: 25px 0;
}

.second-section .col-1 .planning-image-1 img {
    width: 100%;
}

.second-section .col-2 {
    padding: 20px 10px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    
}

.second-section .col-2>* {
    padding: 10px 0;
}

.second-section .col-2 .planning-image-2 img {
    width: 100%;
}

.second-section .col-2 .fa-down-long {
    margin: 15px 0;
    padding: 15px 18px;
    border-radius: 50%;
    background-color: #9792e4;
}
/* Second Section End */

.third-section {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.third-section .partner-text {
    text-align: center;
}

.third-section .partner-text>* {
    padding-bottom: 25px;
}

.third-section .partner-text h2 {
    color: #9792e4;
}

.third-section .partners-col {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    background-color: #9792e4;
}

.third-section .partners-col .partner-col-image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.third-section .partners-col .partner-col-text {
    text-align: center;
    color: white;
}
/* Third Section End */